<div class="footer footer-container">
            
    <div class="footer-container-top">
        
            <div class="footer-container-top-columns">
                <img src="./img/logo-spotify.png" class="footer-logo logo">
            </div>

            <div class="footer-container-top-columns">
                <ul>
                    <li>Empresa</li>
                    <li>Sobre</li>
                    <li>Empregos</li>
                    <li>For the record</li>
                </ul>
            </div>

            <div class="footer-container-top-columns">
                <ul>
                    <li>Comunidades</li>
                    <li>Para artistas</li>
                    <li>Desenvolvedores</li>
                    <li>Marcas</li>
                    <li>Investidores</li>
                    <li>Fornecedores</li>
                </ul>
            </div>

            <div class="footer-container-top-columns">
                <ul>
                    <li>Links úteis</li>
                    <li>Ajuda</li>
                    <li>Player da Web</li>
                    <li>Aplicativo móvel grátis</li>
                </ul>
            </div>
        
            <div class="footer-container-top-columns footer-container-top-columns-logos">
                <a href="https://www.instagram.com/spotify/"><i class="fa-brands fa-instagram footer-social-logo"></i></a>
                <a href="https://twitter.com/Spotify"><i class="fa-brands fa-x-twitter footer-social-logo"></i></a>
                <a href="https://www.facebook.com/Spotify"><i class="fa-brands fa-facebook-f footer-social-logo"></i></a>
            </div>
    </div>

    <div class="footer-container-bottom">
            
        <div class="footer-container-bottom-div-itens">
            <ul class="footer-container-bottom-div-itens-list">
                <li>Legal</li>
                <li>Central de privacidade</li>
                <li>Política de privacidade</li>
                <li>Cookies</li>
                <li>Sobre anúncios</li>
            </ul>
        </div>

        <div class="footer-container-bottom-copyright">
            <div class="footer-container-bottom-copyright-brasil">
                <p>Brasil</p>
                <img src="./img/brazil.png" class="footer-container-bottom-copyright-bandeira">
            </div>
            <div class="footer-container-bottom-copyright-spotify">
                <p>&copy; 2023 Spotify AB</p>
            </div>
        </div>                
    </div>                

</div>