<div class="main" id="showcase">
    <div class="showcase-container">            
        
        <div class="showcase-div-msg">    
            <h2>Música para todos</h2>
            <p>Milhões de músicas à sua escolha. E nem precisa de cartão de crédito.</p>
            <button class="showcase-btn">Obtenha o Spotify free</button>
        </div> 
        <div id="carousel-slide" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="./img/woman09.jpg" class="d-block w-100" alt="Mulher branca jogando o cabelo enquanto ouve música">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/man04.jpg" class="d-block w-100" alt="Senhor branco tocando guitarra imaginária">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/child01.jpg" class="d-block w-100" alt="Menina branca ruiva abraçando a si mesma ouvindo música">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/man01.jpg" class="d-block w-100" alt="Homem pardo com boné com uma das mãos no fone de ouvido enquanto ouve música">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/woman04.jpg" class="d-block w-100" alt="Mulher negra simulando cantar enquanto ouve música com fone de ouvido">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/child02.jpg" class="d-block w-100" alt="Menino negro feliz ouvindo música com as mãos no fone de ouvido">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/woman06.jpg" class="d-block w-100" alt="Senhora branca ouvindo música e convidando para ouvir também">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/man02.jpg" class="d-block w-100" alt="Homem negro com black power com as duas mãos no fone de ouvido enquanto ouve música">
                </div>
            </div>
        </div>
    </div>
</div>