<div class="container-login">
    <a class="navbar-brand" href="#"><img src="./img/logo-spotify.png" class="navbar-logo logo" alt="Logo Spotify">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img src="./img/menu-spotify.png" width="15px" height="auto">
    </span>
    </button>

    <div class="login-main">
        <h2 class="login-main-title">Entrar no Spotify</h2>
        <button class="btn-login-google">
            <img class="logo" src="../../../assets/img/logo-google.png">
            <p class="">Continuar com o Google</p>
        </button>
    </div>

</div>