<body>
  <!-- Navbar -->

  <nav class="navbar-expand-lg bg-body-tertiary" id="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" href="#"
        ><img
          src="./img/logo-spotify.png"
          class="navbar-logo logo"
          alt="Logo Spotify"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"
          ><img src="./img/menu-spotify.png" width="15px" height="auto"
        /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item navbar-item navbar-elements">
            <a class="nav-link active" aria-current="page" href="#">Premium</a>
          </li>
          <li class="nav-item navbar-item navbar-elements">
            <a class="nav-link active" aria-current="page" href="#">Ajuda</a>
          </li>
          <li class="nav-item navbar-item navbar-elements">
            <a class="nav-link active" aria-current="page" href="#">Baixar</a>
          </li>
          <li class="nav-item navbar-item navbar-elements">
            <a class="nav-link active" aria-current="page" href="#"
              >Inscrever-se</a
            >
          </li>
          <li class="nav-item navbar-item navbar-elements">
            <a class="nav-link active" aria-current="page" href="#">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Showcase -->
  <div id="showcase">
    <div class="showcase-container">
      <div class="showcase-div-msg">
        <h2>Música para todos</h2>
        <p>
          Milhões de músicas à sua escolha. E nem precisa de cartão de crédito.
        </p>
        <button class="showcase-btn">Obtenha o Spotify free</button>
      </div>
      <div id="carousel-slide" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img
              src="./img/woman09.jpg"
              class="d-block w-100"
              alt="Mulher branca jogando o cabelo enquanto ouve música"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="./img/man04.jpg"
              class="d-block w-100"
              alt="Senhor branco tocando guitarra imaginária"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="./img/child01.jpg"
              class="d-block w-100"
              alt="Menina branca ruiva abraçando a si mesma ouvindo música"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="./img/man01.jpg"
              class="d-block w-100"
              alt="Homem pardo com boné com uma das mãos no fone de ouvido enquanto ouve música"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="./img/woman04.jpg"
              class="d-block w-100"
              alt="Mulher negra simulando cantar enquanto ouve música com fone de ouvido"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="./img/child02.jpg"
              class="d-block w-100"
              alt="Menino negro feliz ouvindo música com as mãos no fone de ouvido"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="./img/woman06.jpg"
              class="d-block w-100"
              alt="Senhora branca ouvindo música e convidando para ouvir também"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="./img/man02.jpg"
              class="d-block w-100"
              alt="Homem negro com black power com as duas mãos no fone de ouvido enquanto ouve música"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="footer-container">
      <div class="footer-container-top">
        <div class="footer-container-top-columns">
          <img src="./img/logo-spotify.png" class="footer-logo logo" />
        </div>

        <div class="footer-container-top-columns">
          <ul>
            <li>Empresa</li>
            <li>Sobre</li>
            <li>Empregos</li>
            <li>For the record</li>
          </ul>
        </div>

        <div class="footer-container-top-columns">
          <ul>
            <li>Comunidades</li>
            <li>Para artistas</li>
            <li>Desenvolvedores</li>
            <li>Marcas</li>
            <li>Investidores</li>
            <li>Fornecedores</li>
          </ul>
        </div>

        <div class="footer-container-top-columns">
          <ul>
            <li>Links úteis</li>
            <li>Ajuda</li>
            <li>Player da Web</li>
            <li>Aplicativo móvel grátis</li>
          </ul>
        </div>

        <div
          class="footer-container-top-columns footer-container-top-columns-logos"
        >
          <a href="https://www.instagram.com/spotify/"
            ><i class="fa-brands fa-instagram footer-social-logo"></i
          ></a>
          <a href="https://twitter.com/Spotify"
            ><i class="fa-brands fa-x-twitter footer-social-logo"></i
          ></a>
          <a href="https://www.facebook.com/Spotify"
            ><i class="fa-brands fa-facebook-f footer-social-logo"></i
          ></a>
        </div>
      </div>

      <div class="footer-container-bottom">
        <div class="footer-container-bottom-div-itens">
          <ul class="footer-container-bottom-div-itens-list">
            <li>Legal</li>
            <li>Central de privacidade</li>
            <li>Política de privacidade</li>
            <li>Cookies</li>
            <li>Sobre anúncios</li>
          </ul>
        </div>

        <div class="footer-container-bottom-copyright">
          <div class="footer-container-bottom-copyright-brasil">
            <p>Brasil</p>
            <img
              src="./img/brazil.png"
              class="footer-container-bottom-copyright-bandeira"
            />
          </div>
          <div class="footer-container-bottom-copyright-spotify">
            <p>&copy; 2023 Spotify AB</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/a3669b441f.js"
    crossorigin="anonymous"
  ></script>
</body>
